 <body style= "background-image: url('<%= asset_path("asfalt.png") %>');" class="bg-texture text-gray-800 font-sans tracking-wide">

  <nav class="fixed top-0 left-0 w-full p-6 z-50 flex justify-between text-sm uppercase">
  <div>
    <%= link_to "to Diner mode", diner_path, class: "hover:underline font-bold" %>
  </div>

  <div class="space-x-8">
    <%= link_to "Projects", "#", class: "hover:underline font-bold" %>
    <%= link_to "Info", "#", class: "hover:underline font-bold" %>
    <%= link_to "Contact", "#", class: "hover:underline font-bold" %>
  </div>
</nav>

  <section class="min-h-screen flex items-center justify-start pl-14">
    <div class="text-center space-y-6">
      <h1 class="text-4xl font-bold uppercase text-gray-800 tracking-widest">Inès Février</h1>
      <p class="text-lg uppercase text-gray-800">Web Developer</p>
    </div>
  </section>
</body>
